
.main{
    width: 100%;
    background: url(images/cool\ blue\ background.jpg);
    background-size: contain;
    height: 130vh;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    display: flex;
    width: 86%;
    margin:auto ;
    padding: 15px 0 ;
    align-items: center;
    justify-content: space-between;

}
.navbar .logo{
    width: 160px;
    cursor: pointer;
    border-radius: 100px;

}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;

}

ul li {
    font-style: italic;
    font-size: 20px;
    font-weight:bolder;
    text-decoration-style: wavy;
    color: black;
    margin-top:-3%;
    transition: 7s ease;


}


ul li a:hover{
    color: aqua;
} 

.info{
    margin-top: 6%;
    margin-left: 7%;

}

.info h2{
    font-size: 50px;
    color: rgb(249, 70, 21);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color: rgb(210, 233, 7);
}

.info a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 14, 14);
    margin: 26px 0;
    padding:10 px 18 px;
    border-radius: 10px;
    display: inline-block;
    transition: 4s;
}


.info a :hover{
    background-color: aqua;
}

.image{
    width: 30%;
    height: 60%;
position: absolute;
bottom: 0;
right: 100px;
border-radius: 10%;
}


.image img{
    position: absolute;
height: 140%;
left: 40%;
transform: translate(-55);
bottom: 0;
transform: left 2s ease;
border-radius: 8000px;
border-style: inset;

}

.image :hover .dexter{
    left: 55%;
} 
.info about about2 {
    font-size: 10px;
}
.icons a{
    text-decoration: none;
    color: black;
}
.icons ion-icons{
    margin-right: -60px;
    margin-left: 7%;
    font-size: 40px;
}
.contacts{
    color: rgb(206, 10, 245);
    background-color: rgba(0, 0, 0, 0.365);
    backface-visibility: hidden;
}


.details span{
    color: rgb(51, 255, 10);
}
